<div fxLayoutAlign="center center" style="height: 50%">
  <mat-card>
    <mat-card-header>
      <mat-card-title style="text-align: center">
        <h1>Ez az oldal nem található!</h1>
      </mat-card-title>
      <mat-card-subtitle>
        Kérlek a lenti gomb segítségével navigálj el egy létező oldalra!
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayoutAlign="center center" style="padding-top: 20px">
      <mat-divider/>
      <button mat-raised-button color="warn" (click)="back()">Vissza</button>
    </mat-card-content>
  </mat-card>
</div>
